
{% block content %}
               
  <div class="container">
        <h2>{{ action }} un Recrutement</h2>
           <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Enregistrer</button>
            </form>
      <a href="{% url 'gestion_recrutements' %}" class="btn btn-secondary">Retour</a>
 </div>
    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-color: #f7f8fa; 
            color: #333;
            font-size: 16px;
            line-height: 1.6;
        }

        .container {
            max-width: 950px;
            margin: 50px auto;
            padding: 30px;
            background-color: #fff;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
        }

        h2 {
            font-size: 2rem;
            font-weight: 600;
            color: #285DC2; 
            margin-bottom: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        .btn {
            font-size: 1rem;
            padding: 12px 30px;
            border-radius: 50px;
            transition: background-color 0.3s ease, color 0.3s ease;
            text-decoration: none;
            margin-top: 20px;

        }

        .btn-success {
            background: linear-gradient(205.17deg, #418cd1 10.93%, #9c41d1 116.08%);
            color: white;
            border: none;
        }

        .btn-success:hover {
            background-color: #9c41d1;
            color: white;
        }

        .btn-secondary {
            background-color: #f0f2f5;
            color: #418cd1;
            border: 2px solid #418cd1;
        }

        .btn-secondary:hover {
            background-color: #418cd1;
            color: white;
        
        }

    
        @media (max-width: 768px) {
            .container {
                padding: 20px;
            }

            h2 {
                font-size: 1.5rem;
            }

            .form-group {
                width: 100%;
            }

            .btn {
                width: 100%;
                padding: 10px;
            }
        }
    </style>            
 {% endblock %}
        
 

