{% extends 'base.html' %}

{% block title %}Gestion du Personnel{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Gestion du Personnel</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th> 
                <th>Prénom</th>
                <th>Date d'embauche</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
                <tr>
                    <td>{{ employe.nom }}</td>
                    <td>{{ employe.prenom }}</td>
                    <td>{{ employe.date_embauche }}</td>
                    <td>
                        <a href="{% url 'fiche_employe' employe.id %}" class="btn btn-info">Voir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Aucun employé trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'dashboard' %}"class="btn btn-info">Retour</a>
</div>

<style>
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f7fc;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    
}

.container {
    max-width: 1200px;
    margin-top: 50px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    justify-content: center;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #418cd1; 
    margin-bottom: 30px;
    text-align: center;
}


.table {
    width: 100%;
    margin-top: 30px;;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    
}

.table th {
    background: linear-gradient(205.17deg, #418cd1 10.93%, #9c41d1 116.08%); 
    color: white;
    font-weight: 700;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

.table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

.table td {
    color: #555;
}


.btn {
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 25px;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-info {
    background-color: #418cd1;
    color: white;
}

.btn-info:hover {
    background-color: #357ab7;
    color: white;
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 20px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .table th,
    .table td {
        font-size: 0.9rem;
        padding: 10px;
        
    }

    .btn {
        padding: 10px 15px;
        font-size: 1rem;
    }
}


</style>
{% endblock %}
